<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ClothesMapper">

	<select id="selectAll" resultType="">
		SELECT * FROM clothes
		
	</select>

	<select id="selectById" resultType="Clothes">
		SELECT * FROM clothes
		WHERE id = #{id}

	</select>
	
	<select id="selectByCategory" resultType="Clothes">
		SELECT * FROM clothes
		WHERE  category_id = #{categoryId}

	</select>
	
	
	

</mapper>